body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f5f5f5;
}

.sidebar {
  width: 10em;
  background-color: #222;
  height: 100%;
  position: fixed;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none; 
  padding: 10px 20px;
  border-radius: 10px;
}

.sidebar a:hover {
  background-color: #444;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 95%;
  background-color: #333;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 5px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #555;
}

.content {
  margin-left: 10em;
  padding: 20px;
  flex-grow: 1;
}

h1, h2 {
  text-align: center;
  color: #333;
  margin-top: 0;
}

p {
	text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #eee;
  cursor: pointer;
  user-select: none;
}

th:hover {
  background-color: #d9d9d9;
}

th.sorted-column {
  background-color: #cce5ff;
  font-weight: bold;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

.green-row {
  background-color: #d4edda;
}

.red-row {
  background-color: #f8d7da;
}

button, .link-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;
}

button:hover, .link-button:hover {
  background-color: #0056b3;
}

#league {
  padding: 8px 12px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.hidden {
  display: none;
}

.editing td:hover, .editing td:focus{
	background-color: #007bff11;
	border: 2px solid #ccc;
	height: 1em; 
}

.delete-button {
  background-color: #ff000055;
  position: absolute;
  display: inline;
  padding: 0px 10px;
  margin-top: -10px;
}

.delete-button:hover {
  background-color: #ff0000dd;
}
